h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.tic-tac-toe-container {
  clear: both;
  content: "";
  display: table;
}

.square {
  border: 1px solid #000;
  border-radius: 0;
  float: left;
  font-size: 48px;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
