.container {
  text-align: center;
  margin: 50px auto;
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  height: 470px;
  padding: 20px 15px;
  background: rgb(3, 82, 54);
}

.loading {
  font-size: 32px;
  font-weight: bolder;
  color: white;
}

.city-name {
  margin-bottom: 10px;
}

.date {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.temp {
  font-size: 64px;
  color: rgb(220, 228, 193);
  font-weight: bold;
  text-align: center;
}

.description {
  color: rgb(220, 228, 193);
  font-size: 22px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 20px;
}

.weather-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.column {
  display: flex;
  align-items: center;
  line-height: 2px;
}
